<amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            resizable
            src="https://comments.bpsk31.com/comments.html#<%= current_page.data.disqus_path || current_page.url %>">
  <div overflow tabindex=0 role=button aria-label="Read more">Read more!</div>
</amp-iframe>
