---
title: PSK31 Resources
---

<h2>PSK31 Resources</h2>

<h3>Books</h3>

<div class="books">
  <div class="book">
    <a href="http://www.amazon.com/gp/product/0872591034/ref=as_li_ss_tl?ie=UTF8&amp;tag=ja07-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=0872591034">
      <amp-img src="<%= image_path('resources/hf-digital-handbook.jpg') %>" layout="responsive" alt="image" width="600" height="760"></amp-img>
    </a>
    <div class="title"><a href="http://www.amazon.com/gp/product/0872591034/ref=as_li_ss_tl?ie=UTF8&amp;tag=ja07-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=0872591034">ARRL's HF Digital Handbook</a></div>
  </div>

  <div class="book">
    <a href="http://www.amazon.com/gp/product/0872591220/ref=as_li_ss_tl?ie=UTF8&amp;tag=ja07-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=0872591220">
      <amp-img src="<%= image_path('resources/vhf-digital-handbook.jpg') %>" layout="responsive" alt="image" width="600" height="807"></amp-img>
    </a>
    <div class="title"><a href="http://www.amazon.com/gp/product/0872591220/ref=as_li_ss_tl?ie=UTF8&amp;tag=ja07-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=0872591220">ARRL's VHF Digital Handbook</a></div>
  </div>

  <div class="book">
    <a href="http://www.amazon.com/gp/product/1440447373/ref=as_li_ss_tl?ie=UTF8&amp;tag=ja07-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=1440447373">
      <amp-img src="<%= image_path('resources/nifty-guide.jpg') %>" layout="responsive" alt="image" width="324" height="500"></amp-img>
    </a>
    <div class="title"><a href="http://www.amazon.com/gp/product/1440447373/ref=as_li_ss_tl?ie=UTF8&amp;tag=ja07-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399349&amp;creativeASIN=1440447373">Nifty E-Z Guide To PSK31 Operation</a></div>
  </div>
</div>

<h3>Websites</h3>

<p>
  <a href="http://www.rsq-info.net/IMD-Measurement.html">Signal Reports and IMD</a><br>
  <a href="http://www.nue-psk.com/">PSK31 without a Computer</a>
</p>
