.disqus-placeholder__wrap { padding: 10px; }

.disqus-placeholder { border-radius: 3px; padding: 10px; text-align: center; background-color: #2e9fff; color: #fff; font-size: 12px; }

.disqus-placeholder__svg { height: 16px; width: 16px; margin-right: 3px; fill: #fff; vertical-align: top; }
